/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #313daa;
  --color-light-blue: #0079ff;
  --color-yellow: #fff7d1;
  --color-ornage: #feb546;
  --color-black: #000000;
  --color-border: #d9d9d9;

  /* Font Size */
  --font-xl: 32px;
  --font-lg: 24px;
  --font-tg: 20px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-xs: 12px;

  /* Font Weight */
  --weight-regular: 400;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  /* Size */
  --size-border-radius: 10px;

  /* Animation */
  --animation-duration: 250ms;

  /* System Color */
  --font-base-color: #232327;
  --background-color: #ffffff;
  --screen-color: #454545;

  /*=== Home Page ===*/
  --input-padding-y: 1.5rem;
  --input-padding-x: 8.5rem;

  /*=== Search Page ===*/
  --input-width: 17em;

  /* Header */
  --header-margin-top: 20px;
  --header-margin-bottom: 20px;
  --header-gap: 10px;

  /* SearchForm */
  --searchForm-width: 100vw;

  /* DetailList */
  --grid-template: repeat(2, 1fr);
  --grid-gap: 2rem;

  /* Toggle Slider */
  --toggleSlider-padding: 10px 15px;

  /*=== Header ===*/
  --logo-width: 25px;
  --logo-height: 25px;

  /* ====== Book ====== */
  /* === Book List === */
  --book-list-gap: 25px;

  /* === Book Details === */
  /* book_detail */
  --grid-templete: 120px auto;
  --padding-bottom: 25px;

  /* img_container */
  --img-container-height: 180px;

  /* description */
  --text-sm: 14px;

  /* line-clamp */
  --line-clamp-title-desc: 2;
  --line-clamp-author: 1;

  /* ==================== */

  /* Icons Size*/
  --searchIcon-size: 3.2rem;
}

/* ===== Scrollbar CSS ===== */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
  height: 1.5px;
}

*::-webkit-scrollbar-track {
  background: var(--background-color);
  border: 3px solid var(--color-border);
  border-radius: 40px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-light-blue);
  border: 3px solid var(--color-light-blue);
  border-radius: 40px;
}

@media (min-width: 768px) {
  :root {
    /* font size */
    --font-xl: 40px;
    --font-lg: 32px;
    --font-tg: 24px;
    --font-md: 20px;
    --font-sm: 18px;
    --font-xs: 16px;

    /*=== Home Page ===*/
    --input-padding-y: 2rem;
    --input-padding-x: 15rem;

    /*=== Search Page ===*/
    --input-width: 30em;

    /* Header */
    --header-margin-top: 40px;
    --header-margin-bottom: 30px;
    --header-gap: 20px;

    /* SearchForm */
    --searchForm-width: 90vw;

    /* Toggle Slider */
    --toggleSlider-padding: 15px 20px;

    /*=== Header ===*/
    --logo-width: 45px;
    --logo-height: 45px;

    /* Icons Size*/
    --searchIcon-size: 4.2rem;

    /* ====== Book ====== */
    /* === Book List === */
    --book-list-gap: 35px;

    /* === Book Details === */
    /* book_detail */
    --grid-templete: 200px auto;
    --padding-bottom: 35px;

    /* img_container */
    --img-container-height: 250px;

    /* line-clamp */
    --line-clamp-title-desc: unset;
    --line-clamp-author: unset;
    /* ================== */

    /* toastify */
    --toastify-toast-width: 380px;
  }
}

@media (min-width: 1024px) {
  :root {
    /*=== Search Page ===*/
    /* Header */
    --header-margin-top: 50px;
    --header-margin-bottom: 35px;
    --header-gap: 30px;

    /* SearchForm */
    --searchForm-width: 80vw;

    /* detailList */
    --grid-template: repeat(3, 1fr);
    --grid-gap: 2.5rem;
  }
}

@media (min-width: 1279px) {
  .searchPage {
    /*=== Search Page ===*/
    /* SearchForm */
    --searchForm-width: 65vw;

    /* detailList */
    --grid-template: repeat(4, 1fr);
    --grid-gap: 3.5rem;
  }
}

/* Universal tags */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  padding: 0;
  box-sizing: border-box;
  flex: 1;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 1280px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

p {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  color: var(--color-black);
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

input:focus {
  outline: none;
}

.Toastify__toast-container {
  font-size: var(--font-sm);
}
