.findLibraryBtn {
  text-align: start;
  font-size: var(--font-sm);
  color: var(--color-light-grey);
}

.container {
  width: 300px;
  height: fit-content;
  background-color: var(--color-white);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 1px solid var(--color-border);
  border-radius: var(--size-border-radius);
  padding: 0.8rem;
  animation: var(--popUp-animation);
}

.container p {
  font-size: var(--font-md);
}

.searchBtn {
  width: 100%;
  padding: 0.4rem 0;
  font-size: var(--font-md);
  background-color: var(--color-light-blue);
  color: var(--color-white);
  border: 1px solid var(--color-light-blue);
  border-radius: 6px;
}

@media (min-width: 768px) {
  .findLibraryBtn {
    font-size: var(--font-sm);
  }
}
