.book_detail {
  display: grid;
  grid-template-columns: var(--grid-templete);
  gap: 20px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--padding-bottom);
}

.img_container {
  position: relative;
  width: 100%;
  height: var(--img-container-height);
  margin: 0 auto;
  border: 2px solid var(--color-border);
  border-radius: var(--size-border-radius);
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header p {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
}

.title {
  font-size: var(--font-md);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 4px;

  -webkit-line-clamp: var(--line-clamp-title-desc);
  -webkit-box-orient: vertical;
}

.author {
  font-size: var(--font-xs);

  -webkit-line-clamp: var(--line-clamp-author);
  -webkit-box-orient: vertical;
}

.description {
  font-size: var(--font-sm);

  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp-title-desc);
  -webkit-box-orient: vertical;
}

.more_description {
  margin-top: 4px;
  font-size: var(--font-xs);
  color: var(--color-light-grey);
}

@media (min-width: 768px) {
  .book_detail {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .title {
    font-size: var(--font-md);
  }

  .description {
    font-size: var(--font-sm);
  }

  .more_description {
    display: none;
  }
}
